{% extends "base.html.twig" %}

{% block title %}
    Agir
{% endblock %}

{% block body %}

    <body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->

    <img class="header-logo" src="{{ asset('assets/images/header.png') }}"alt="logo"  >

    <!-- Featured Start -->
    <section class="featured top">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
                    <div class="title">
                        <h6 class="title-primary">about Tamplate</h6>
                        <h1 class="title-blue">a rich featured, epic & premium work.</h1>
                    </div>
                    <p>There are many variations of passages of available but the majority have suffered alteration in
                        some form, by injected humour, or randomised words which don't look even slightly believable. If
                        you are going to use a passage of you need to be sure there isn't anything embarrassing hidden
                        in the middle of text. All the generators on the Internet.</p>
                    <div class="media-element d-flex justify-content-between">
                        <div class="media">
                            <i class="fa fa-magic mr-4"></i>
                            <div class="media-body">
                                <h5>any offer</h5>
                                New York, United States
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-magic mr-4"></i>
                            <div class="media-body">
                                <h5>any offer</h5>
                                New York, United States
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('user-create') }}" class="btn btn-primary">S'inscrire</a>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
                    <div class="featured-img">
                        <img class="featured-big" src="assets/images/test4.jpeg" alt="Featured 1">
                        <img class="featured-small" src="assets/images/test5.jpeg" alt="Featured 2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured End -->

    <!-- Trust Start -->
    <section class="trust">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-6" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
                    <div class="title">
                        <h6 class="title-primary">about Tamplate</h6>
                        <h1>a rich featured, epic & premium work.</h1>
                    </div>
                    <p>Un simple don permet de démultiplier l’efficacité des actions de notre association. Cela va leur permettre de réaliser de nombreuses choses telles que financer divers projets ou payer des salariés. En faisant un don, vous aidez au développement de Inayah, et vous apportez donc un soutien indispensable.

                        Vous pouvez faire un don tout simplement parce que la cause défendue par Inayah  vous plaît. Si vous souhaitez connaître davantage l’association , vous pouvez aussi devenir bénévole, ainsi vous connaîtrez ses besoins de l’intérieur directement.

                        Vous avez un toit, une famille, un travail, d’autres sont privés de tout cela. Faites un don tout simplement parce qu’ils en ont besoin plus que vous. Il n’est pas toujours obligatoire de faire un don financier : faites un peu de ménage dans vos greniers et vous trouverez vite des affaires et des jouets dont vous n’avez plus besoin. Il vaut mieux les donner à une association que de les laisser prendre la poussière chez vous. En fin de compte, tout le monde s’en sort content.
                    </p>

                </div>
                <div class="col-xl-5 gallery">
                    <div class="row no-gutters h-100" id="lightgallery">
                        <a href="https://lorempixel.com/600/400/" class="w-50 h-100 gal-img" data-aos="fade-up"
                           data-aos-delay="200" data-aos-duration="400">
                            <img class="img-fluid" src="assets/images/test1.jpeg" alt="Gallery Image">
                            <i class="fa fa-caret-right"></i>
                        </a>
                        <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img" data-aos="fade-up"
                           data-aos-delay="400" data-aos-duration="600">
                            <img class="img-fluid" src="assets/images/test2.jpeg" alt="Gallery Image">
                            <i class="fa fa-caret-right"></i>
                        </a>
                        <a href="https://lorempixel.com/600/400/" class="w-50 h-50 gal-img gal-img3" data-aos="fade-up"
                           data-aos-delay="0" data-aos-duration="600">
                            <img class="img-fluid" src="assets/images/test3.jpeg" alt="Gallery Image">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trust End -->

    <!-- Pricing Start -->
    <section class="pricing-table">
        <div class="container">
            <div class="title text-center">
                <h6 class="title-primary">Titre H6</h6>
                <h1 class="title-blue">Titre H1</h1>
            </div>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="" data-aos="fade-up">
                        <p>Suspendisse facilisis commodo lobortis. Nullam mollis lobortis ex vel faucibus. Proin nec viverra turpis. Nulla eget justo scelerisque, pretium purus vel, congue libero. Suspendisse potenti. </p>
                        <a target="_blank" href="{{ path('user-create') }}" class="btn btn-primary">S'inscrire</a>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                         data-aos-duration="600">
                        <h2>Calculatrice de réduction d'impôt</h2>
                        <input class="price" type="text" name="name" id="don" value="50">
                        <p>Somme donnée : <strong id="valeur">50</strong> €</p>
                        <p>Réduction d'impôt : <strong id="reduc">33</strong> €</p>
                        <p>Coût total après réduction fiscale : <strong id="donTotal">17</strong> €</p>
                        <a target="_blank" href="#" class="btn btn-primary">Faire un don</a>
                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                  d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->



    </body>

{% endblock %}

