{% extends "base.html.twig" %}

{% block title %}Don {% endblock %}

{% block body %}
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}" alt="logo-header">

    <div class="col-md-6 mx-auto">
        <div class="" data-aos="fade-up">
            <img src="{{ asset('assets/images/img-impot.png') }}" alt="img-impot.png" style="width: 100%;
                        margin-top: 30px">
        </div>
    </div>
    <!-- Pricing Start -->
    <section class="pricing-table">
        <div class="container">
            <div class="title text-center">
                <h1 class="title-blue">Faire un don</h1>
                <h6 class="title-primary">passez à l'action ! </h6>
                <p style="margin-top: 20px"> Votre don est déductible de vos impôts sur le revenu
                    Si vous êtes imposable, vous avez jusqu’au 31 décembre de cette année pour faire un don et réduire
                    66 % de son montant de votre impôt sur le revenu de cette année. Vous recevrez un reçu
                    fiscal.<br><br>
                </p>
            </div>


            <div class="row no-gutters mb-5">
                <div class="col-md-5 mx-auto">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                         data-aos-duration="600">
                        <h2>Calculatrice de réduction d'impôt</h2>
                        <input class="price" type="text" name="name" id="don" value="50">
                        <p>Somme donnée : <strong id="valeur">50</strong> €</p>
                        <p>Réduction d'impôt : <strong id="reduc">33</strong> €</p>
                        <p>Coût total après réduction fiscale : <strong id="donTotal">17</strong> €</p>
                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                  d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z"/>
                        </svg>
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                         data-aos-duration="600">
                        <h2>Don Helloasso</h2>
                        <p>Faire un don avec réduction fiscale</p>
                        <form action="https://www.helloasso.com/associations/association-inayah/formulaires/2" method="post" target="_top">
                            <input type="image" class="paypal btn btn-primary" src="{{ asset('assets/images/helloasso.png') }}"
                                   name="submit" title="Faites un don via Helloasso !" alt="Bouton Faites un don avec Helloasso" />
                        </form>


                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                  d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z"/>
                        </svg>
                    </div>
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                         data-aos-duration="600">
                        <h2>Don Paypal</h2>
                        <p>Faire un don sans réduction fiscale</p>
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="KLGGE5GWH2RFN" />
                            <input type="hidden" name="item_name" value="money" />
                            <input type="hidden" name="currency_code" value="EUR" />
                            <input type="image" class="paypal btn btn-primary" src="{{ asset('assets/images/paypal1.png') }}"
                                   name="submit" title="Faites un don via PayPal !" alt="Bouton Faites un don avec PayPal" />
                            <img alt="PayPal-link" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
                        </form>

                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(238, 21, 21)"
                                  d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->

{% endblock %}

