{% extends "base.html.twig" %}

{% block title %}Contactez Nous{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create( document.querySelector( '#form_content' ) );
    </script>

{% endblock %}


{% block body %}

    {# {{ dump(posts) }}
    {# -- .p-3.mx-auto.text-center>h1.diplay-4 -- #}
    <div class="col-md-6 mx-auto top">
        <div class="p-3 mx-auto text-center">
            <h1 class="">Inscription</h1>
        </div>

        <div class="py-5 bg-light">
            <div class="">
                <div class="row">
                    <div class="col-md-10  mx-auto">
                        {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}