{% extends "base.html.twig" %}

{% block title %}Modification password{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>#}
    <script>
        ClassicEditor.create(document.querySelector('#form_content'));
    </script>
{% endblock %}

{% block body %}
    <img class="header-logo mb-5" src="{{ asset('uploads/images/' ~ identity.headerpic) }}"alt="logo-header">
    {# FORMULAIRE UPDATE PWD #}
    <div class="container">
        <div class="row mx-auto my-5">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center">Modification du mot de passe</h1>
                <div class="p-5 mb-5 bg-light">
                    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}